# ignorar binarios compilados de Java
*.class

# ignorar configuraciones del editor
.vscode/

# Ignorar arcvhivos empaquetados y librerias binarias
*.jar
*.war
*.ear

# Ignorar librerias nativas del sistema
*.so
*.dll
*.dylib

!lib/*.jar
!lib/*.so
