# ignorar binarios compilados de Java
*.class

# ignorar configuraciones del editor
.vscode/

# Ignorar arcvhivos empaquetados y librerias binarias
*.jar
*.war
*.ear

# Ignorar librerias nativas del sistema
*.so
*.dll
*.dylib

!kvm-client/lib/*.jar
!kvm-client/lib/*.so

# Ignorar los compilados de Java
**/out/
**/*.class
